{% extends "base.html" %}
{% block content %}
<h2>Bem-vindo, {{ user }}</h2>
<p>Lista de produtos:</p>
<table class="table table-striped">
  <thead>
    <tr><th>ID</th><th>Nome</th><th>Unidade</th><th>Estoque</th></tr>
  </thead>
  <tbody>
    {% for p in produtos %}
    <tr>
      <td>{{ p[0] }}</td>
      <td>{{ p[1] }}</td>
      <td>{{ p[2] }}</td>
      <td>{{ p[3] }}</td>
    </tr>
    {% else %}
    <tr><td colspan="4">Nenhum produto cadastrado.</td></tr>
    {% endfor %}
  </tbody>
</table>
<a href="/logout" class="btn btn-outline-secondary">Sair</a>
{% endblock %}
