{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center">
  <div class="col-md-4">

    <div class="card shadow-lg">
      <div class="card-body">
        <h3 class="text-center mb-4">Login</h3>

        <form method="POST">
          <input class="form-control mb-3" name="username" placeholder="Usuário" required>
          <input class="form-control mb-3" type="password" name="password" placeholder="Senha" required>

          <button class="btn btn-primary w-100">Entrar</button>
        </form>

        <div class="text-center mt-3">
          <a href="{{ url_for('register') }}">Criar conta</a>
        </div>

      </div>
    </div>

  </div>
</div>

{% endblock %}
